/* -----------div tips------------- */

  div.puzzle, div.fyi, div.exercise, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #000000;
    background-color: #80A0C2;
    border: dashed 5px #ffffff;
  }

div.puzzle {
  background-image: url("images/puzzle.png");
}

div.fyi {
 background-image: url("images/fyi.png");
}

div.exercise {
  background-image: url("images/code.png");
}

div.note {
  background-image: url("images/lightbulb.png");
}
